.loaderWrapperContainer {
  margin: 4rem 0rem;
}

.errorWrapperContainer {
  margin: 4rem 0rem;
}

.descriptionSectionContainer {
  margin-top: 2rem;
}

.descriptionHeaderText {
  margin-bottom: 0.6rem;
}

.descriptionContent {
  font-size: 1rem;
  font-weight: 400;
  color: var(--colors-neutral-50);
  max-width: 50%;
  margin-top: 0rem;
  /* responsive */
}
