.headerText {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0rem;
}

.headerDescription {
  color: var(--colors-neutral-50);
}

.loaderWrapperContainer {
  margin: 4rem 0rem;
}

.errorWrapperContainer {
  margin: 4rem 0rem;
}

.exchangesWrapperContainer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .exchangesWrapperContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .exchangesWrapperContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .exchangesWrapperContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
