/* autoprefixer grid: autoplace */

.headerText {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0rem;
}

.headerDescription {
  color: var(--colors-neutral-50);
}

.loaderWrapperContainer {
  margin: 4rem 0rem;
}

.errorWrapperContainer {
  margin: 4rem 0rem;
}

.exchangesWrapperContainer {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template: none / 1fr;
}

@media screen and (min-width: 768px) {
  .exchangesWrapperContainer {
    grid-template: none / 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .exchangesWrapperContainer {
    grid-template: none / 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .exchangesWrapperContainer {
    grid-template: none / 1fr 1fr 1fr 1fr;
  }
}
